<section class="container mt-10">
    <div class="row">
        <div class="col-md-8 p-4">
            {% include 'Frontend/Home/_blog.html.twig' %}
        </div>

        <div class="col-md-4 p-4">
            {% include 'Frontend/Home/_sidebar.html.twig' %}
        </div>
    </div>
</section>