<div class="sidebar-list">
    <div class="card">
        <h2 class="card-title"><i class="fa-solid fa-envelope"></i> Stay in touch</h2>
        <p class="card-text">Get notified when i publish something new, and unsubscribe at any time.</p>
        <input type="email" placeholder="Email Address"/>
        <a href="#" class="btn-secondary">Join</a>
    </div>

    <div class="card">
        <h2 class="card-title"><i class="fa-solid fa-suitcase"></i> Work</h2>
    </div>
</div>