.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999999;


  &-content {
    @extend .mt-2;
    text-align: center;
  }

  &-links {
    @include flexbox($display: inline-flex, $justify-content:center, $align-items: center, $gap: 1em);

    padding: 1em 2em;
    border-radius: $border-radius-full;
    box-shadow: $box-shadow-default;

    background: map-get($colors, primary);

  }

  &-item {
    &-active {
      color: map-get($colors, secondary);

      :hover {
        color: map-get($colors, text-color);
      }
    }
  }
}