<header class="navbar">
    <nav class="navbar-content">
        <ul class="navbar-links">
            <li class="navbar-item-active">
                <a href="/home" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item">
                <a href="/about" class="navbar-link">About</a>
            </li>
            <li class="navbar-item">
                <a href="/contact" class="navbar-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>